# Task 1: Data Cleaning and Preprocessing

## ðŸ’¡ Objective

Clean and prepare the "Medical Appointment No Show
dataset by identifying and fixing common data issues 
like missing values, incorrect data types, duplicate entries
and inconsistent formatting.

## ðŸ”§ Tools Used
- Python
- Pandas library

In [4]:
# Steps Performed
# 1. Import Libraries
import pandas as pd

In [8]:
# 2. Load the Dataset
df = pd.read_csv('Medical appointment No shows.csv')
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [10]:
# 3. Preview the Data
df.head()       # First 5 rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [11]:
df.tail()       # Last 5 rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [12]:
# 4. Understand the Data


df.info()       # Structure, datatypes, non-null values
df.columns      # Column names
df.describe()   # Statistical summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [15]:
# 5. Clean Column Names
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns={'handcap': 'handicap'}, inplace=True)
df

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no-show,no_show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,0
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,0
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No,0
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No,0
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No,0
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No,0
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No,0

In [17]:
# 6. Standardize Categorical Values
df['gender'] = df['gender'].str.upper()
df['no_show'] = df['no-show'].map({'No': 0, 'Yes': 1})

In [18]:
# 7. Remove Duplicate Rows
df.drop_duplicates(inplace=True)

In [19]:
# 8. Convert Data Types
df['patientid'] = df['patientid'].astype(int)

In [20]:
# 9. Handle Date Columns
df['scheduledday'] = pd.to_datetime(df['scheduledday'], utc=True).dt.tz_localize(None)
df['appointmentday'] = pd.to_datetime(df['appointmentday'], utc=True).dt.tz_localize(None)

In [21]:
# 10. Split Date and Time
df['appointment_date'] = df['appointmentday'].dt.date
df['appointment_time'] = df['appointmentday'].dt.time

In [23]:
df.head(40)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handicap,sms_received,no-show,no_show,appointment_date,appointment_time
0,-2147483648,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0,2016-04-29,00:00:00
1,-2147483648,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
2,-2147483648,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
3,-2147483648,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
4,-2147483648,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,0,2016-04-29,00:00:00
5,-2147483648,5626772,F,2016-04-27 08:36:51,2016-04-29,76,REPÃšBLICA,0,1,0,0,0,0,No,0,2016-04-29,00:00:00
6,-2147483648,5630279,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes,1,2016-04-29,00:00:00
7,-2147483648,5630575,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes,1,2016-04-29,00:00:00
8,-2147483648,5638447,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
9,-2147483648,5629123,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
10,-2147483648,5630213,F,2016-04-27 14:58:11,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
11,-2147483648,5620163,M,2016-04-26 08:44:12,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes,1,2016-04-29,00:00:00
12,-2147483648,5634718,F,2016-04-28 11:33:51,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No,0,2016-04-29,00:00:00
13,-2147483648,5636249,M,2016-04-28 14:52:07,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
14,-2147483648,5633951,F,2016-04-28 10:06:24,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
15,-2147483648,5620206,F,2016-04-26 08:47:27,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No,0,2016-04-29,00:00:00
16,-2147483648,5633121,M,2016-04-28 08:51:47,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
17,-2147483648,5633460,F,2016-04-28 09:28:57,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes,1,2016-04-29,00:00:00
18,-2147483648,5621836,F,2016-04-26 10:54:18,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No,0,2016-04-29,00:00:00
19,-2147483648,5640433,F,2016-04-29 10:43:14,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
20,-2147483648,5626083,F,2016-04-27 07:51:14,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,Yes,1,2016-04-29,00:00:00
21,-2147483648,5628338,F,2016-04-27 10:50:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,Yes,1,2016-04-29,00:00:00
22,-2147483648,5616091,M,2016-04-25 13:29:16,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,Yes,1,2016-04-29,00:00:00
23,-2147483648,5634142,F,2016-04-28 10:27:05,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
24,-2147483648,5641780,F,2016-04-29 14:19:19,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
25,-2147483648,5624020,M,2016-04-26 15:04:17,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,No,0,2016-04-29,00:00:00
26,-2147483648,5641781,F,2016-04-29 14:19:42,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,No,0,2016-04-29,00:00:00
27,-2147483648,5628345,F,2016-04-27 10:51:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
28,-2147483648,5642400,M,2016-04-29 15:48:02,2016-04-29,51,SÃƒO PEDRO,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
29,-2147483648,5642186,F,2016-04-29 15:16:29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
30,-2147483648,5628068,F,2016-04-27 10:24:52,2016-04-29,46,NOVA PALESTINA,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
31,-2147483648,5628907,M,2016-04-27 12:07:14,2016-04-29,12,NOVA PALESTINA,1,0,0,0,0,0,Yes,1,2016-04-29,00:00:00
32,-2147483648,5637908,M,2016-04-29 07:30:27,2016-04-29,61,SÃƒO CRISTÃ“VÃƒO,0,1,0,0,0,0,No,0,2016-04-29,00:00:00
33,-2147483648,5616921,F,2016-04-25 15:01:04,2016-04-29,38,SÃƒO CRISTÃ“VÃƒO,1,0,0,0,0,1,No,0,2016-04-29,00:00:00
34,-2147483648,5637963,F,2016-04-29 07:34:30,2016-04-29,79,SÃƒO CRISTÃ“VÃƒO,0,1,0,0,0,0,No,0,2016-04-29,00:00:00
35,-2147483648,5637968,M,2016-04-29 07:34:42,2016-04-29,18,SÃƒO CRISTÃ“VÃƒO,0,0,0,0,0,0,No,0,2016-04-29,00:00:00
36,-2147483648,5637975,F,2016-04-29 07:35:19,2016-04-29,63,SÃƒO CRISTÃ“VÃƒO,0,1,1,0,0,0,No,0,2016-04-29,00:00:00
37,-2147483648,5637986,F,2016-04-29 07:35:56,2016-04-29,64,TABUAZEIRO,1,1,1,0,0,0,No,0,2016-04-29,00:00:00
38,-2147483648,5609446,M,2016-04-20 15:54:18,2016-04-29,85,SÃƒO CRISTÃ“VÃƒO,0,1,0,0,0,1,No,0,2016-04-29,00:00:00
39,-2147483648,5639644,F,2016-04-29 09:21:13,2016-04-29,59,SÃƒO CRISTÃ“VÃƒO,0,0,0,0,0,0,No,0,2016-04-29,00:00:00

<!-- Final Result
Column names standardized
Gender and No-show values cleaned
Duplicate rows removed
Data types corrected
Dates parsed and split into date and time -->

In [ ]:
# Final Result

# Column names standardized

# Gender and No-show values cleaned

# Duplicate rows removed

# Data types corrected

# Dates parsed and split into date and time